<div class="post">
    <div class="post__avatar">
        <% if image['profile_url'] != nil %>
      <img src="<%= image['profile_url'] %>" alt=""/>
      <% else %>        
 
    <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt=""/>
      
    <% end %> 
    </div>

    <div class="post__body">
        <div class="post__header">
        <div class="post__headerText">
            <h3>
            <% if image['user_name'] != nil %>
          <%= image['user_name'] %>
          <% else %>
          Sirvan Doukchi
          <% end %>
            <span class="post__headerSpecial"
              ><span class="material-icons post__badge"> verified </span>
              <% if image['user_email'] != nil %>
              <%= image['user_email'] %>
              <% else %>
              @anonymous
              <% end %>
            </h3>
        </div>
        <div class="post__headerDescription">
            <p class="post_caption"> Caption: <%= image['name'] %> </p>
            <p class="post_caption"> Location: <%= image['location'] %> </p>
            <p class="post_caption"> Date:<%= image['date'] %> </p>
            <p class="post_caption"> Description: <%= image['description'] %> </p>
        </div>
        </div>
        <img
        src=" <%= image['image_url'] %>"
        alt="<%= image['name'] %>"
        />
        
        
        <form action="/images/<%= image['id'] %>" method="post">
        <input type="hidden" name="_method" value="put">

        <label for="">name: </label>
        <input name="name" type="text" value="<%= image['name'] %>">
        <label for="">location: </label>
        <input name="location" type="text" value="<%= image['location'] %>">
        <label for="">date: </label>
        <input name="date" type="text" value="<%= image['date'] %>">
        <label for="">description: </label>
        <input name="description" type="text" value="<%= image['description'] %>">

        <button> Update Post</button>       
                
        </form>
        

        <form action="/images/<%= image['id'] %>" method="post">
        <input type="hidden" name="_method" value="delete"> 
        <button>Delete</button>          
        </form>
        
    </div>
</div>