<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Space Watch</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
</head>
<body>
 

<!-- sidebar starts -->
    <div class="sidebar">
    <img class="logo" src="/stylesheets/images/SW_logo8.png" alt="">
      
      <div class="sidebarOption active">
      
        <span class="material-icons"> home </span>
        <h2><a href="/">Home</a> </h2>
      </div>
      
      <div class="sidebarOption">
      
        <span class="material-icons"> bookmark_border </span>
        
        <h2><a href="/images">My Posts</a> </h2>
      </div>


      <div class="sidebarOption">
      
        <span class="material-icons"> thumb_up </span>
        
        <h2><a href="/likes">Most Liked</a> </h2>
      </div>

      

      <div class="sidebarOption">
        <span class="material-icons"> manage_accounts </span>
        <h2>
        <% if logged_in? %>
        <a href="/user/<%= current_user.id %>/edit">Profile</a></h2>
        <% else %>
        <a href="/login">Profile</a></h2>
        <% end %>
      </div>

      

      <button class="sidebar__tweet"><a href="/images/new">Post</a></button>
    </div>
    <!-- sidebar ends -->

    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <%# <h2>Unidentified Aerial Phenomena (UAP Watch)</h2> %>
      </div>
      
      
      <%= yield %>   


    </div>
    <!-- feed ends -->

    <!-- widgets starts -->
        <div class="widgets">

        <div class="user_buttons">

        <% if logged_in? %>

        <p class="welcome_message">Welcome <%= current_user.name %></p> 

        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete" >
          <button class="tweetBox__tweetButton">Logout</button>
        </form>

        <% else %>
        <div>
        <form action="/login">
        <button class="tweetBox__tweetButton">Login</button>
        </form>
        </div>
        <div>
        <form action="/signup">
          <button class="tweetBox__tweetButton">Sign up</button>
        </form>
        </div>

        <% end %>  
          
        </div>
  
 
        <div class="widgets__widgetContainer">
        
        
        <blockquote class="twitter-tweet">

        <div class="nasa_widget">
        
        <div class="nasa_title">
        <p> <img class="nasa_logo" src="/stylesheets/images/nasa.png" alt=""> </p>
        </div>
        <div class="nasa_name"><p><%= nasa.title %></p></div>
        
        <div class="autoShowHide"><%= nasa.explanation %></div>             
        <% if nasa.media_type == 'video' %>
        <iframe width="360" height="300" src="<%= nasa.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% else %>        
        <div><img class="nasa_image" src="<%= nasa.url %>" alt=""></div>
        <% end %>
        
        </div>          
          
        </blockquote>
        
        </div>
        </div> 
    
    <!-- widgets ends -->

  

</body>
</html>
