<%# <% require 'pry' %>
<% redirect '/login' unless logged_in? %>

<% images.each do |image| %>

<% if current_user.id == image['user_id'] %>


      <div class="post">
        <div class="post__avatar">
          <% if image['profile_url'] != nil %>
            <img src="<%= image['profile_url'] %>" alt=""/>
          <% else %>
            <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt=""/>      
          <% end %> 

          
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                <% if image['user_name'] != nil %>
                  <%= image['user_name'] %>
                <% else %>
                Sirvan Doukchi
                <% end %>
                <span class="post__headerSpecial"><span class="material-icons post__badge"> share </span>
                <% if image['user_email'] != nil %>
                <%= image['user_email'] %>
                <% else %>
                @anonymous
                <% end %>
            </span>



              </h3>
            </div>
            <div class="post__headerDescription">
              <p class="post_caption"> Caption: <%= image['name'] %> </p>
              <p class="post_caption"> Location: <%= image['location'] %> </p>
              <p class="post_caption"> Date:<%= image['date'] %> </p>
              <p class="post_caption"> Description: <%= image['description'] %> </p>
            </div>
          </div>
          <img
            src=" <%= image['image_url'] %>"
            alt="<%= image['name'] %>"
          />
          <div class="post__footer">

          <form action="/images/<%= image['id'] %>/edit" method="">


          <button class="like_button" class="tweetBox__tweetButton_post">
          <span class="material-icons"> edit </span>
          
          
          </button>
          </form>

          <form action="/images/<%= image['id'] %>" method="post">
          <input type="hidden" name="_method" value="delete"> 

          <button class="like_button" >
          <span class="material-icons"> delete_forever </span>
          
          </button>
          
          </form>


          </div>
        </div>
      </div>

<% end %>
    <% end %>







